.Container {
  display: flex;
  margin: 2rem;
  flex-direction: row;
  flex-wrap: wrap;
}

.Container-items {
  flex: 1 1 50%;
  min-width: 300px;
}

.Map-container {
  min-width: auto;
  height: 80vh;
}

.Article {
  margin: 1rem;
  border-style: groove;
}

.Map {
  height: 100%;
}

.Float-right {
    float: right;
}